.categories {
  position: relative;
  margin: 0px 0px -10px 0px;
  // background-color: rgb(228, 197, 197);
  // .categories__container
  &__bg {
    position: absolute;
    left: 0;
    top: -15%;
    width: 270px;
    height: auto;
  }
  &__container {
    position: relative;
    padding: 326px 0 0 0;
  }
  &__form {
    top: -10px;
  }
  &__body {
    display: flex;
  }
  // .categories__box

  &__box {
    margin: 0px 25px 0px 0px;
  }

  // .categories__title

  &__title {
    margin: 0px 0px 20px 0px;
  }

  // .categories__descr

  &__descr {
    margin: 0px 0px 15px 0px;
  }

  // .categories__opt

  &__opt {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 536px;
    height: 108px;
    margin: 0px 0px 25px 0px;
    padding: 24px;
    img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  // .categories__text

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.2px;
    color: #4f4f4f;
    margin: 0px 0px 10px 0px;
  }

  // .categories__opt-link

  &__opt-link {
    position: relative;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.2px;
    color: #f05454;
    z-index: 2;
    &:hover {
      text-decoration: underline;
    }
  }

  // .categories__content

  &__content {
  }

  // .categories__list

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 11px;
  }

  // .categories__item

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 171px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 28px 104px rgba(41, 41, 41, 0.15);
    z-index: 20;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0px 24px rgba(41, 41, 41, 0.55);
    }
  }

  // .categories__link

  &__link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #151d0c;
    letter-spacing: -0.5%;
    img {
      margin: 0px 0px 17px 0px;
    }
  }
}
