.footer {
  background-color: #f5f5f5;
  padding: 220px 0 20px 0;
  &__container {
    position: relative;
  }
  // .footer__form

  &__form {
    top: -80%;
  }

  // .footer__main

  &__main {
  }

  // .footer__top

  &__top {
  }

  // .footer__bottom

  &__bottom {
  }
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 50px 0px;

  // .top-footer__column

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  // .top-footer__logo

  &__logo {
    margin: 0px 0px 20px 0px;
  }

  // .top-footer__social

  &__social {
    display: flex;
    margin: 0px 0px 25px 0px;
  }

  // .top-footer__social-item

  &__social-item {
    &:not(:last-child) {
      margin: 0px 25px 0px 0px;
    }
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateY(-2px);
    }
  }

  // .top-footer__descr

  &__descr {
    max-width: 385px;
    margin: 0px 0px 10px 0px;
  }

  // .top-footer__title

  &__title {
    font-weight: 600;
    color: #4b5663;
    margin: 0px 0px 16px 0px;
  }

  // .top-footer__list

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  // .top-footer__item

  &__item {
  }

  // .top-footer__link

  &__link {
    display: inline-flex;
    margin: 0px 0px 16px 0px;
    color: #6b7280;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding: 10px;
  // .bottom-footer__btns

  &__btns {
  }

  // .bottom-footer__btn

  &__btn {
    font-weight: 600;
    color: #f05454;
    text-transform: uppercase;
    margin: 0px 0px 33px 0px;
  }

  // .bottom-footer__btn-1

  &__btn-1 {
    margin: 0px 20px 0px 0px;
  }

  // .bottom-footer__btn-2

  &__btn-2 {
    padding: 8px 16px;
    border: 1px solid #f05454;
  }

  // .bottom-footer__copy

  &__copy {
    font-size: 16px;
    color: #6b7280;
  }
}

