.form-block {
  position: absolute;
  left: 0;
  width: 100%;
  height: 233px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.14), 0 12px 12px rgba(0, 0, 0, 0.14);
  padding: 45px;
  z-index: 10;
  @include tablet {
    display: none;
  }

  // .form-block__title

  &__title {
    max-width: 490px;
    font-weight: 700;
    font-size: 35px;
    font-family: "Montserrat", serif;
    color: #0b132a;
    margin: 0 40px 0 15px;
    @media (max-width: 1450px) {
      font-size: 24px;
    }
  }

  // .form-block__form

  &__form {
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // .form__label

  &__label {
    display: inline-flex;
    flex-direction: column;
    font-weight: 600;
    margin: 0 15px 0 0;
  }

  // .form__input

  &__input {
    width: 355px;
    height: 42px;
    color: #313650;
    margin: 6px 0 10px 0;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 11px;
    &::placeholder {
      color: #313650;
      font-weight: 600;
    }
    @media (max-width: 1600px) {
      width: 300px;
    }
    @media (max-width: 1350px) {
      width: 250px;
    }
    @media (max-width: 1150px) {
      width: 200px;
    }
  }

  // .form__button

  &__button {
    width: 243px;
    height: 61px;
  }
}
.form__input.just-validate-error-label {
  font-size: 12px;
  color: #ff3654;
}
.form__input.just-validate-error-field {
  border: 1px solid #ff3654;
}
.form__input.just-validate-success-field {
  border: 1px solid #13bd38;
}
.form__input.focus-visible {
  border: 1px solid #a3a3a3;
}
