.header {
  // .header__top
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 500;
  }
  &__top {
    margin: 0px 0px 25px 0px;
  }

  // .header__main

  &__main {
  }
}
.top {
  background-color: #f1f1f1;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 0px;
  }
  // .top__region

  &__region {
    a {
      color: #4f4f4f;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .top__right

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .top__phone

  &__phone {
    display: inline-flex;
    color: #f05454;
    font-weight: 600;
    line-height: 1.7;
    padding: 0 16px;
    border-right: 1px solid #4f4f4f;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateY(-2px);
      text-decoration: underline;
    }
    img {
      margin: 0 8px 0 0;
    }
  }

  // .top__login

  &__login {
    position: relative;
  }

  // .top__user-btn

  &__user-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #4f4f4f;
    font-weight: 600;
    padding: 3px;
    margin: 0 0 0 15px;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out;
    &:hover {
      border: 1px solid rgba(79, 79, 79, 0.3);
    }
  }

  // .top__user-img

  &__user-img {
    margin: 0 4px 0 0;
  }

  // .top__user-imgarr

  &__user-imgarr {
    margin: 0 0 0 4px;
  }

  // .top__user-list

  &__user-list {
    display: none;
    position: absolute;
    top: 50px;
    right: -50%;
    width: 336px;
    height: 132px;
    background-color: #fff;
    padding: 11px 28px;
  }
  &__user-link {
    display: inline-flex;
    font-size: 18px;
    color: #333646;
    margin: 0 0 35px 0;
  }
}

.main-header {
  // .main-header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.04), 0 12px 12px rgba(0, 0, 0, 0.04);
  }
  &__left {
    display: flex;
  }
  // .main-header__logo

  &__logo {
    margin: 0 0 0 15px;
  }

  // .main-header__list

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .main-header__item

  &__item {
  }

  // .main-header__link

  &__link {
    display: inline-flex;
    margin: 0 0 0 40px;
    font-weight: 600;
    color: #4f4f4f;
    text-transform: uppercase;
    .active {
      color: #f05454;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  // .main-header__box

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .main-header__image

  &__image {
    margin: 0 23px 0 0;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateY(-4px);
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  // .main-header__button

  &__button {
  }
}
