.hero {
  min-height: 100vh;

  // .hero__container

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 210px;
    padding-bottom: 100px;
    padding-right: 0;
    padding-left: max(15px, calc((100% - 1710px) / 2));
    @media (max-width: 1024px) {
      padding: 210px 15px 0px;
    }
    @include small-tablet {
      padding: 110px 15px 0px;
    }
  }

  // .hero__top

  &__top {
  }

  // .hero__slider

  &__slider {
  }

  // .hero__bottom

  &__bottom {
  }
  &__decor {
    position: absolute;
    right: 0;
    bottom: -10%;
    width: 750px;
    height: auto;
    z-index: 1;
    @include small-tablet {
      display: none;
    }
  }
}
.top-hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px 0px 120px 0px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  // .top-hero__box

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 570px;
    margin-right: 23px;
    flex-shrink: 0;
    //background-color: #c4c4c4;
    z-index: 11;
    @media (max-width: 1500px) {
      width: 500px;
    }
    @media (max-width: 1400px) {
      width: 450px;
    }
    @media (max-width: 1200px) {
      width: 400px;
    }
    @media (max-width: 1100px) {
      width: 360px;
    }
    @media (max-width: 1024px) {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 0 30px 0;
    }
  }
  &__slider {
    position: relative;
    min-width: 0;
  }
  // .top-hero__title

  &__title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 1.1;
    color: #4f4f4f;
    margin: 0px 0px 40px 0px;
    span {
      color: #f05454;
    }
    @media (max-width: 1200px) {
      font-size: 48px;
    }
    @include mobile {
      font-size: 38px;
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: 420px) {
      font-size: 32px;
    }
  }

  // .top-hero__descr

  &__descr {
  }

  // .top-hero__btn

  &__btn {
  }
}

.bottom-hero {
  position: relative;
  width: 100%;
  // .bottom-hero__box

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 10;
    @media (max-width: 1250px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 10px 0px;
  }

  // .bottom-hero__title

  &__title {
    margin: 0px 0px 30px 0px;
  }

  // .bottom-hero__descr

  &__descr {
  }

  // .bottom-hero__right

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 15px;
    height: 100%;
    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      width: 100%;
    }
  }

  // .bottom-hero__sel

  &__sel {
    height: 52px;
  }

  // .bottom-hero__btn

  &__btn {
  }
}
