.hero {
  min-height: 100vh;

  // .hero__container

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 210px;
    padding-bottom: 100px;
    padding-right: 0;
    padding-left: max(15px, calc((100% - 1680px) / 2));
  }

  // .hero__top

  &__top {
  }

  // .hero__slider

  &__slider {
  }

  // .hero__bottom

  &__bottom {
  }
  &__decor {
    position: absolute;
    right: 0;
    bottom: -10%;
    width: 750px;
    height: auto;
    z-index: 1;
  }
}
.top-hero {
  position: relative;
  // display: flex;
  width: 100%;
  height: 100%;
  margin: 0px 0px 120px 0px;
  // .top-hero__box

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 570px;
    margin-right: 23px;
    flex-shrink: 0;
    min-height: 398px;
    background-color: #c4c4c4;
  }
  &__slider {
    // width: 100%;
    // min-height: 398px;
  }
  // .top-hero__title

  &__title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 1.1;
    color: #4f4f4f;
    margin: 0px 0px 40px 0px;
    span {
      color: #f05454;
    }
  }

  // .top-hero__descr

  &__descr {
  }

  // .top-hero__btn

  &__btn {
  }
}

.bottom-hero {
  position: relative;

  // .bottom-hero__box

  &__container {
    position: relative;
    display: flex;
    z-index: 10;
  }
  &__box {
    margin: 0px 20px 10px 0px;
  }

  // .bottom-hero__title

  &__title {
    margin: 0px 0px 30px 0px;
  }

  // .bottom-hero__descr

  &__descr {
  }

  // .bottom-hero__right

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 15px;
    height: 100%;
  }

  // .bottom-hero__sel

  &__sel {
    height: 52px;
  }

  // .bottom-hero__btn

  &__btn {
  }
}
