.choices__inner {
  padding: 10px 10px 10px 15px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  min-height: auto;
  width: 355px;
  height: 44px;
  @media (max-width: 380px) {
    width: 300px;
  }
}
.choices__item {
  line-height: 1;
  font-weight: 600;
  color: #4f4f4f;
  letter-spacing: -0.3px;
}
.is-open .choices__inner {
  padding: 10px 10px 10px 15px;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  min-height: auto;
}

.choices__list--dropdown {
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.is-open .choices__list--dropdown {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}

#choices--mark-item-choice-1 {
  display: none;
}
