.swiper {
}
.swiper-wrapper {
  align-items: center;
}

.main-slider {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  &__slide {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 502px;
    height: 400px;
    @include small-tablet {
      height: 300px;
    }
    @include mobile {
      height: 200px;
    }

    transition: transform 0.5s ease-in-out;
    &.swiper-slide-active {
      transform: scale(1.1);

      z-index: 2;
    }
    &.swiper-slide-next {
      @media (max-width: 1024px) {
        transform: scale(0.9);
      }
    }
    &.swiper-slide-prev {
      @media (max-width: 1024px) {
        transform: scale(0.9);
      }
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    z-index: 1;
    img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
    }
  }
  &__box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 36px 31px;
    @media (max-width: 480px) {
      margin: 20px;
    }
  }
  &__title {
    color: var(--light-color);
    font-family: "Jost", serif;
    font-size: 18px;
    line-height: 140%;
    margin: 0 0 15px 0;
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  &__descr {
    display: flex;
    align-items: center;
    img {
      width: 111px;
      height: 49px;
      margin: 0 25px 0 0;
      @media (max-width: 480px) {
        width: 55px;
        height: auto;
        margin: 0 15px 0 0;
      }
    }
  }
  &__text {
    color: var(--light-color);
    font-family: "Jost", serif;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    @include small-tablet {
      font-size: 20px;
    }
  }

  &__pagination {
    text-align: left;

    &.swiper-pagination.swiper-pagination-bullets {
      bottom: -25px;
      @media (max-width: 1024px) {
        left: 50%;
      }
    }
    .swiper-pagination-bullet {
      background: #f05454;
      margin: 0 3px !important;
      width: 11px;
      height: 11px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 40px;
      height: 11px;
      background: #f05454;
      border-radius: 8px;
    }
  }
}
