<section class="act">
  <div class="act__title">Актуальное</div>
  <div class="tabs" data-tabs="$1">
      <ul class="tabs__nav">
       <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Все</button></li>
       <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Новости</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Акции</button></li>
      </ul>
      <div class="tabs__content\">
        <div class="tabs__panel\">1</div>
       <div class="tabs__panel\">2</div>
       <div class="tabs__panel\">3</div>
      </div>
    </div>
</section>
