<section class="act">
  <div class="act__bg">
    <picture>
      <source srcset="img/blog/bg-blog.webp" type="image/webp" />
      <img src="img/blog/bg-blog.png" alt="декор в виде машины" />
    </picture>
  </div>
  <div class="act__content">
    <h3 class="act__title">Актуальное</h3>
    <div class="tabs" data-tabs="tab">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">Все</button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">Новости</button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">Акции</button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel panel-tabs">
          <ul class="panel-tabs__list list-reset">
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog02.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog02.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog02.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog02.png" alt="новость4" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
          </ul>
        </div>
        <div class="tabs__panel">
          <ul class="panel-tabs__list list-reset">
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog02.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog02.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
          </ul>
        </div>
        <div class="tabs__panel">
          <ul class="panel-tabs__list list-reset">
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog01.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog01.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
            <li>
              <article class="panel-tabs__item">
                <a href="#" class="panel-tabs__image">
                  <picture>
                    <source
                      srcset="img/blog/img-blog02.webp"
                      type="image/webp"
                    />
                    <img src="img/blog/img-blog02.png" alt="новость1" />
                  </picture>
                </a>
                <h4 class="panel-tabs__title">
                  Ломается ли ваг? После тюнинга
                </h4>
                <p class="panel-tabs__descr">
                  Все что вы хотели спросить, но боялись. Расказываем, что будет
                  с вашим поло после stage 3 REVO
                </p>
                <div class="panel-tabs__bottom">
                  <div class="panel-tabs__date">12 января</div>
                  <a href="#" class="panel-tabs__link">Видеоблог</a>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
