<section class="categories">
  <div class="categories__container container">
    <div class="categories__box">
      <h3 class="categories__title title">Категории товаров</h3>
      <p class="categories__descr descr">
        Выберите категорию котоаря вас интересует. Тут есть все&nbsp;&mdash;
        от&nbsp;ГБЦ до&nbsp;футболки с&nbsp;логотипом БМВ М&nbsp;повер-рейнджерс
      </p>
      <div class="categories__opt">
        <p class="categories__text">Показать все товары</p>
        <a href="#" class="categories__opt-link">Перейти в каталог ></a>
      </div>
      <div class="categories__opt">
        <p class="categories__text">Не знаете что выбрать?</p>
        <a href="#" class="categories__opt-link">Получить консультанцию > </a>
      </div>
    </div>
    <div class="categories__content">
      <ul class="categories__list list-reset">
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img
              src="img/categories/card/img01.svg"
              alt="Трубины и турбокомплекты"
            />
            <span>Трубины и турбокомплекты</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img
              src="img/categories/card/img02.svg"
              alt="Тормоза и тормозные системы"
            />
            <span>Тормоза и тормозные системы</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img03.svg" alt="Охлаждение" />
            <span>Охлаждение</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img04.svg" alt="Подвеска" />
            <span>Подвеска</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img05.svg" alt="Подарки и мерч" />
            <span>Подарки и мерч</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img06.svg" alt="Другое" />
            <span> Другое </span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img07.svg" alt="Двигатель" />
            <span>Двигатель</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img08.svg" alt="Трансмиссия" />
            <span>Трансмиссия</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img09.svg" alt="Топливные системы" />
            <span>Топливные системы</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img
              src="img/categories/card/img10.svg"
              alt="Интерьер и экстерьер"
            />
            <span>Интерьер и экстерьер</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img11.svg" alt="Шины и диски" />
            <span>Шины и диски</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img
              src="img/categories/card/img12.svg"
              alt="Оригинальные запчасти"
            />
            <span>Оригинальные запчасти</span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img13.svg" alt="Выпускная система" />
            <span>Выпускная система </span>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <img src="img/categories/card/img14.svg" alt="Впускная система" />
            <span>Впускная система</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
