<footer class="footer">
  <div class="footer__container container">
    <div class="footer__form"></div>
    <div class="footer__main">
      <div class="footer__top top-footer">
        <div class="top-footer__column">
          <a href="/" class="top-footer__logo logo">
            <img src="img/logo.svg" alt="logo" />
          </a>
          <ul class="top-footer__social list-reset">
            <li class="top-footer__social-item">
              <a
                href="#"
                target="_blank"
                class="top-footer__social-link"
                aria-label="instagram"
                ><img src="img/icons/inst.svg" alt="instagram" />
              </a>
            </li>
            <li class="top-footer__social-item">
              <a
                href="#"
                target="_blank"
                class="top-footer__social-link"
                aria-label="youtube"
                ><img src="img/icons/youtube.svg" alt="youtube"
              /></a>
            </li>
            <li class="top-footer__social-item">
              <a
                href="#"
                target="_blank"
                class="top-footer__social-link"
                aria-label="telegram"
                ><img src="img/icons/telegram.svg" alt="telegram"
              /></a>
            </li>
          </ul>
          <p class="top-footer__descr">
            Интернет-магазин тюнинг-комплектующих для современных автомобилей
            Audi, Skoda, Seat, Skoda, Porsche, BMW, Mercedes-Benz и&nbsp;др.Мы
            предлагаем только лучшие товары из&nbsp;Европы и&nbsp;США. Работаем
            напрямую с&nbsp;заводами, тем самым гарантируя отличные цены
            и&nbsp;сроки доставки.
          </p>
        </div>
        <div class="top-footer__column">
          <div class="top-footer__title">Страницы</div>
          <ul class="top-footer__list list-reset">
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Главная</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Контакты</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Каталог</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Партнеры</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Актуальное</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Подбор по автомобилю</a>
            </li>
          </ul>
        </div>
        <div class="top-footer__column">
          <div class="top-footer__title">Для покупателей</div>
          <ul class="top-footer__list list-reset">
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Доставка</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Оплата</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Возврат</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Партнеры</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Личный кабинет</a>
            </li>
          </ul>
        </div>
        <div class="top-footer__column">
          <div class="top-footer__title">Информация</div>
          <ul class="top-footer__list list-reset">
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Статьи</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Видеообзоры</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Бренды</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Установочные центры</a>
            </li>
          </ul>
        </div>
        <div class="top-footer__column">
          <div class="top-footer__title">Правила</div>
          <ul class="top-footer__list list-reset">
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Куки</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Правила</a>
            </li>
            <li class="top-footer__item">
              <a href="#" class="top-footer__link">Правила</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom bottom-footer">
        <div class="bottom-footer__btns">
          <button class="bottom-footer__btn bottom-footer__btn-1 btn-reset">
            Вход
          </button>
          <button class="bottom-footer__btn bottom-footer__btn-2 btn-reset">
            Регистрация
          </button>
        </div>
        <p class="bottom-footer__copy">© 2022 UrbanRacers</p>
      </div>
    </div>
  </div>
</footer>
