<header class="header">
  <div class="header__wrapper">
    <div class="header__top top">
      <div class="top__container container">
        <div class="top__region">Регион: Москва</div>
        <div class="top__right">
          <a href="tel:+32015287667" class="top__phone">
            <img src="img/icons/phone.svg" alt="phone" />
            +32&nbsp;(0)&nbsp;15&nbsp;28&nbsp;76&nbsp;67
          </a>
          <div class="top__login">
            <button class="top__user-btn btn-reset">
              <img src="img/icons/user.svg" alt="user" class="top__user-img" />
              Личный кабинет
              <img
                src="img/icons/arrow-down.svg"
                alt="user"
                class="top__user-imgarr"
                aria-hidden="true"
              />
            </button>
            <ul class="top__user-list list-reset">
              <li><a class="top__user-link" href="#">Личный кабинет</a></li>
              <li><a class="top__user-link" href="#">Выйти</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header__main main-header">
      <div class="main-header__container container">
        <div class="main-header__left">
          <a href="/" class="main-header__logo">
            <img src="img/logo.svg" alt="logo" />
          </a>
          <ul class="main-header__list list-reset">
            <li class="main-header__item">
              <a href="#" class="main-header__link active">Главная</a>
            </li>
            <li class="main-header__item">
              <a href="#" class="main-header__link">Каталог</a>
            </li>
            <li class="main-header__item">
              <a href="#" class="main-header__link">Информация</a>
            </li>
            <li class="main-header__item">
              <a href="#" class="main-header__link">Контакты</a>
            </li>
            <li class="main-header__item">
              <a href="#" class="main-header__link">Еще...</a>
            </li>
          </ul>
        </div>
        <div class="main-header__box">
          <a href="#" class="main-header__image">
            <img src="img/icons/cart.svg" alt="cart"
          /></a>
          <button class="main-header__button btn btn-reset">
            Подбор по автомобилю
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
