<section class="hero">
  <div class="hero__content">
    <div class="hero__top top-hero">
      <div class="top-hero__box">
        <h2 class="top-hero__title"><span>Urban</span> Racers</h2>
        <p class="top-hero__descr descr">
          Интернет-магазин тюнинг-комплектующих для современных автомобилей
          Audi, Skoda, Seat, Skoda, Porsche, BMW, Mercedes-Benz и&nbsp;др.Мы
          предлагаем только лучшие товары из&nbsp;Европы и&nbsp;США. Работаем
          напрямую с&nbsp;заводами, тем самым гарантируя отличные цены
          и&nbsp;сроки доставки.
        </p>
        <button class="top-hero__btn btn btn-reset">Перейти в каталог</button>
      </div>
      <div class="hero__slider">fffff</div>
    </div>
    <div class="hero__bottom bottom-hero">
      <div class="bottom-hero__container container">
        <div class="bottom-hero__box">
          <h3 class="bottom-hero__title title">Подбор по автомобилю</h3>
          <p class="bottom-hero__descr descr">
            Ищите товары сразу для вашего автомобиля, это помжет сильно сузить
            ассортимент и&nbsp;ускорит выбор товаров.
          </p>
        </div>
        <div class="bottom-hero__right">
          <div class="bottom-hero__sel">марку</div>
          <div class="bottom-hero__sel">модель</div>
          <div class="bottom-hero__sel">мод</div>
          <button class="bottom-hero__btn btn btn-reset">Подобрать</button>
        </div>
      </div>
    </div>
    <div class="hero__decor">
      <picture>
        <source srcset="img/hero/decor.webp" type="image/webp" />
        <img
          src="img/hero/decor.png"
          class="image"
          width="1084"
          height="610"
          alt="декор в виде машины"
        />
      </picture>
    </div>
  </div>
</section>
