<section class="hero">
  <div class="hero__content">
    <div class="hero__top top-hero">
      <div class="top-hero__box">
        <h2 class="top-hero__title"><span>Urban</span> Racers</h2>
        <p class="top-hero__descr descr">
          Интернет-магазин тюнинг-комплектующих для современных автомобилей
          Audi, Skoda, Seat, Skoda, Porsche, BMW, Mercedes-Benz и&nbsp;др.Мы
          предлагаем только лучшие товары из&nbsp;Европы и&nbsp;США. Работаем
          напрямую с&nbsp;заводами, тем самым гарантируя отличные цены
          и&nbsp;сроки доставки.
        </p>
        <button class="top-hero__btn btn btn-reset">Перейти в каталог</button>
      </div>
      <div class="top-hero__slider">
        <div class="swiper hero__slider-main main-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide main-slider__slide">
              <div class="main-slider__image">
                <picture>
                  <source srcset="img/hero/img01.webp" type="image/webp" />
                  <img
                    src="img/hero/img01.png"
                    class="image"
                    width="1084"
                    height="610"
                    alt="машина 1"
                  />
                </picture>
              </div>
              <div class="main-slider__box">
                <h4 class="main-slider__title">Скидки на подвеску BC Racing</h4>
                <div class="main-slider__descr">
                  <img src="img/hero/img-logo.svg" alt="logo " />
                  <p class="main-slider__text">до 60%</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide main-slider__slide">
              <div class="main-slider__image">
                <picture>
                  <source srcset="img/hero/img02.webp" type="image/webp" />
                  <img
                    src="img/hero/img02.png"
                    class="image"
                    width="1084"
                    height="610"
                    alt="машина 1"
                  />
                </picture>
              </div>
              <div class="main-slider__box">
                <h4 class="main-slider__title">Скидки на подвеску BC Racing</h4>
                <div class="main-slider__descr">
                  <img src="img/hero/img-logo.svg" alt="logo " />
                  <p class="main-slider__text">до 60%</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide main-slider__slide">
              <div class="main-slider__image">
                <picture>
                  <source srcset="img/hero/img02.webp" type="image/webp" />
                  <img
                    src="img/hero/img02.png"
                    class="image"
                    width="1084"
                    height="610"
                    alt="машина 1"
                  />
                </picture>
              </div>
              <div class="main-slider__box">
                <h4 class="main-slider__title">Скидки на подвеску BC Racing</h4>
                <div class="main-slider__descr">
                  <img src="img/hero/img-logo.svg" alt="logo " />
                  <p class="main-slider__text">до 60%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__pagination swiper-pagination"></div>
      </div>
    </div>
    <div class="hero__bottom bottom-hero">
      <div class="bottom-hero__container container">
        <div class="bottom-hero__box">
          <h3 class="bottom-hero__title title">Подбор по автомобилю</h3>
          <p class="bottom-hero__descr descr">
            Ищите товары сразу для вашего автомобиля, это помжет сильно сузить
            ассортимент и&nbsp;ускорит выбор товаров.
          </p>
        </div>
        <div class="bottom-hero__right">
          <div class="bottom-hero__sel">
            <select
              name="mark"
              id="mark"
              class="select select-mark bottom-hero__sel-mark"
              aria-label="Выбор марки автомобиля"
            >
              <option value="">Выберите марку автомобиля</option>
              <option value="WV">WV</option>
              <option value="BMV">BMV</option>
              <option value="VAZ">VAZ</option>
            </select>
          </div>
          <div class="bottom-hero__sel">
            <select
              name="model"
              id="model"
              class="select select-model"
              aria-label="Выбор модели автомобиля"
            >
              <option value="">Выберите модель автомобиля</option>
              <option value="WV">Tiguane</option>
              <option value="BMV">golf</option>
              <option value="VAZ">Passat</option>
            </select>
          </div>
          <div class="bottom-hero__sel">
            <select
              name="modif"
              id="modif"
              class="select select-modif"
              aria-label="Выбор модификацию автомобиля"
            >
              <option value="">Выберите модификацию</option>
              <option value="WV">170 л.с.</option>
              <option value="BMV">210 л.с.</option>
              <option value="VAZ">300 л.с.</option>
            </select>
          </div>
          <button class="bottom-hero__btn btn btn-reset">Подобрать</button>
        </div>
      </div>
    </div>
    <div class="hero__decor">
      <picture>
        <source srcset="img/hero/decor.webp" type="image/webp" />
        <img
          src="img/hero/decor.png"
          class="image"
          width="1084"
          height="610"
          alt="декор в виде машины"
        />
      </picture>
    </div>
  </div>
</section>
