// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/hero";
@import "./components/categories";
@import "./components/act";
@import "./components/form-block";
@import "./components/select";
